.drink-card {
  border: 1px solid yellow;
  overflow: hidden; 
  cursor: pointer;
}

.drink-card p {
  margin-bottom: 0;
  color: red;
}

.drink-card h5 {
  color: red;
  text-transform: uppercase;
} 